h1 {
    /* border:  2px #eee solid; */
    color: white;
    text-align: center;
}

h2,h3{
    /* border:  2px #eee solid; */
    color: white;
    text-align: center;
}


body{
    background-color: black;
}
.menu{
    display: flex;
    flex-direction: row ;
    justify-content: flex-end;
    
}
.menu li{
    margin-right: 15px;
}
.menu li a{
    color: white;
    text-decoration: none;
}
.menu li a:hover {
    color: yellow;
}

footer{
    display: flex;
    justify-content: center;
}
footer li a{
    text-decoration: none;
    color: brown;
}
.imagen{
    display: flex;
    justify-content: center;
}
.tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tarjeta_alineada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
     
}
.tarjeta_alineada img{
    margin-left: 75px;
    width: 194px;
    height: 259px;   
}




